@import "https://indestructibletype.com/fonts/Jost.css";
@import "@/assets/scss/utilities/_functions.scss";
@import "@/assets/scss/utilities/_mixins.scss";
@import "@/assets/scss/utilities/_variables.scss";
@import "@/assets/scss/layout/_grid.scss";
@import "@/assets/scss/layout/_theme.scss";
@import "@/assets/scss/layout/_inputs.scss";
@import "@/assets/scss/layout/_form.scss";
@import "@/assets/scss/layout/_table.scss";

* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
	background: var(--x-background-color);
	color: var(--x-color-black);
	font-family: var(--x-font-family);
	font-size: var(--x-font-size--base);
  font-weight: var(--x-font-weight--normal);
	line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: auto;
	-ms-text-size-adjust: 100%;

  &.--modal-on {
    overflow: hidden;
    margin-left: calc(100vw - 100%);
  
    & .container-fluid {
      filter: blur(4px);
    }
  }
}

a {
	color: var(--x-color-action);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &.disabled { pointer-events: none; opacity: .8; }
  &:hover { color: var(--x-color-action--shade30); }
  &:active { color: var(--x-color-error); }
  &:focus { outline: 0; }
}

/**
 * 
 */
.content__title {
  margin: 0 0 1.5rem;

  .title {
    font-size: var(--x-font-size--title);
    font-weight: var(--x-font-weight--light);
    line-height: 1.3;
    margin: 0;
    word-break: break-word;
  }

  .subtitle {
    color: var(--x-color-black--tint50);
    font-size: 1.65rem;
    word-break: break-word;
  }
}

.meta {
  user-select: none;
  color: var(--x-color-black--shade5);
  font-size: 1.15rem;

  .meta__item {
    &.--divider {
      color: var(--x-color-black--shade5);
    }

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}